<div class="feedback">
			<p>How easy was that?</p>
			<p>(0 = complete blackout, 1 = incorrect response but correct one remembered, 2 = incorrect but the correct one was easy to recall, 3 = correct response recalled with serious difficulty, 4 = correct response after hesitation, 5 = perfect response with no hesitation)</p>
		</div>