<h1>NoteMinders</h1>
Here are all the users

<% @users.each do |user| %>
	<br>
	<%= user.email %><br>
	
<%end%>
<br>
<%= link_to 'Create a new note.', "/notes/new" %>
<br>
<br>
<div class="footer">
		<% if user_signed_in? %>
			<%= link_to 'Sign out.', destroy_user_session_path, :method => :delete %>
		<% else %>
			<%= link_to 'Sign in.', new_user_session_path %>
		<% end %>
	</div>
